* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(158, 155, 155);
}

.title {
    color: red;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 20px;
}


.first-player {
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: row;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    

}

.second-player {
    position: relative;
    flex-direction: row;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    transform: scaleX(-1);
    /* Flip horizontally */
}

 .player1{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50px;
}

.player2{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50px;
}  

.control {
    position: fixed;
    display: flex;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background-color: rgb(41, 41, 102);
    border-radius: 20px;


}

.score{
    border: 50px;
   background-color: white;
   padding-top: 35px;
   padding-bottom: 35px;
   padding-right: 35px;
   padding-left: 5px;
   width: 30%;
   margin: auto;
   border-radius: 10px;
}

.socre h3{
    text-align: left;
    font-size: larger;
    font-weight: bolder;
}